*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
@font-face {
  font-family: "AbrilFatface";
  src: url(fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/static/Roboto-Regular.ttf);
}
body {
  background-color: #121213;
  font-family: "Roboto";
}
.container {
  width: 80%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AbrilFatface";
  font-weight: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?nmg2jc");
  src: url("fonts/icomoon.eot?nmg2jc#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?nmg2jc") format("truetype"),
    url("fonts/icomoon.woff?nmg2jc") format("woff"),
    url("fonts/icomoon.svg?nmg2jc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
  content: "\e900";
}
.icon-x1:before {
  content: "\e901";
  color: white;
}
.icon-menu:before {
  content: "\e9bd";
  color: gray;
  font-size: 28px;
}
.icon-arrow-down2:before {
  content: "\ea3e";
  color: white;
}
.icon-facebook:before {
  content: "\ea90";
  color: white;
}
.icon-instagram:before {
  content: "\ea92";
  color: white;
}
.icon-youtube:before {
  content: "\ea9d";
  color: white;
}

/* HEADER */
.header {
  width: 100%;
  height: 84px;
  display: flex;
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 0;
}
/* HEADER..LOGO */
.logo {
  width: 15%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.logo img {
  display: block;
  width: 85%;
  color: white;
  margin: 30px 20px;
}
/* HEADER...MENU */
.menu {
  width: 70%;
  display: flex;
  padding: 32px 45px;
  border-bottom: 1px solid white;
}
.menu ul {
  display: flex;
  align-content: space-around;
  gap: 85px;
}
.menu a {
  color: white;
  font-size: 15px;
}
.hamburger {
  display: none;
}
.nav {
  width: 200px;
  height: 117px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-45%, 10%);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s 0.5s;
}
.nav span {
  width: 100%;
  height: 50%;
  padding: 18px;
}
.nav span a {
  font-size: 14px;
  color: black;
}
.b1:hover .nav {
  opacity: 1;
  visibility: visible;
  transform: translate(-45%, 0);
  transition: 0.5s;
}
.nav span:hover {
  background-color: white;
  color: #4ca9b4;
}
.nav span:hover a {
  color: #4ca9b4;
}
/* HEADER...ICON */
.icons {
  width: 15%;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding: 32px 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons ul {
  height: 18px;
  display: flex;
  gap: 20px;
}
.icons ul li {
  font-size: 18px;
  padding-bottom: 30px;
  position: relative;
}
.shadow {
  font-size: 10px;
  color: white;
  padding: 10px;
  position: absolute;
  background-color: black;
  border-radius: 4px;
  left: 2px;
  bottom: 100%;
  transform: translate(-40%, -15%);
  opacity: 0;
  visibility: hidden;
}
.shadow::after {
  content: "";
  border: 8px solid transparent;
  border-top-color: #121213;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-40%, -30%);
}
.icons ul li:hover .shadow {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

/* HERO */
.main {
  width: 100%;
  height: 700px;
  background: url(picture/home_slider_2-2.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 130px;
  color: white;
  margin-top: 8px;
  position: relative;
}
.main h2 {
  font-size: 30px;
  color: white;
  background-color: rgba(76, 169, 180, 0.6);
  text-align: center;
  padding: 0 10px;
  margin-bottom: 20px;
}
.button {
  width: 360px;
  display: flex;
  justify-content: space-between;
}
.button span {
  border: 2px solid white;
  padding: 17px 38px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.button span a {
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
}
/* WELCOME*/
.welcome {
  width: 100%;
  height: 324px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome h2 {
  font-size: 40px;
}
.welcome img {
  font-size: 16px;
  margin: 10px;
}
.welcome p {
  font-size: 16px;
  text-align: center;
  line-height: 1.6em;
}
/*  SECOND WELCOME  */
.second-welcome {
  width: 100%;
  height: 435px;
  display: flex;
  justify-content: space-around;
}
.cover {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
}
.cover h3 {
  font-size: 40px;
}
.cover span {
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 15px;
}
.cover p {
  font-size: 16px;
  text-align: center;
  line-height: 1.8em;
  margin-bottom: 40px;
}
.cover span a {
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  padding: 13px 30px;
  border: 2px solid white;
}
.right {
  width: 50%;
  height: 100%;
  background-image: url(picture/col_image112.jpg);
  background-size: cover;
}
/* POSTER */
.poster {
  width: 100%;
  height: 580px;
  background: url(picture/quote_bg_studio1.jpg) no-repeat 1% 20%;
  background-size: cover;
}
.inner-poster {
  width: 100%;
  padding: 250px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 180px 30px;
  gap: 45px;
}
.box1 {
  width: 65%;
  height: 220px;
  padding: 40px 60px;
  border: 10px solid white;
}
.box1 h3 {
  font-size: 40px;
  color: white;
}
.box2 {
  width: 30%;
  height: 220px;
  background-color: rgba(75, 169, 180, 0.8);
  text-align: center;
  padding: 100px 30px;
}
.box2 a {
  color: white;
  border: 1px solid white;
  padding: 20px 35px;
  font-weight: bold;
  font-size: 18px;
}
/* TALENT PICTURE */
.talent-picture {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}
.items {
  width: 25%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.items img {
  width: 257px;
  height: 257px;
  margin-bottom: 20px;
}
.items h3 {
  font-size: 32px;
  margin-top: 10px;
}
.items span {
  font-size: 16px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}
/*BLUE SECTION*/
.blue-section {
  width: 100%;
  height: 470px;
  background-color: #4ca9b4;
  display: flex;
  margin-bottom: 80px;
}
.photo {
  width: 50%;
  height: 100%;
  background: url(picture/girl_covered1.jpg) no-repeat center center;
  background-size: cover;
}
/* collection-title  */
.collection-title {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.collection-title h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}
/* COLLECTION--PICTURE */
.album {
  width: 100%;
  display: flex;
}
.album-pic {
  width: 33.33%;
}
.album-pic li {
  display: flex;
  flex-direction: column;
  margin: 5px;
  overflow: hidden;
  position: relative;
}
.album-pic li img {
  filter: brightness(80%);
  transition: 0.5s;
  z-index: 1;
}
.album-pic li span {
  position: absolute;
  top: 100%;
  left: 0%;
  transform: translate(6%, -400%);
  z-index: 1;
}
.album-pic li span a {
  color: white;
  font-size: 16px;
  letter-spacing: 4px;
}
li > .black-box {
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #121213;
  transform: translate(0, -100%);
}
li > .black-box ul {
  display: flex;
  padding: 15px 0;
}
li > .black-box ul li a {
  font-size: 13px;
  color: white;
}
.album-pic li:hover img {
  transform: translate(0, -15%);
}
.album-pic li:hover .big {
  transform: translate(0, -8%);
  transition: 0.5s;
}
li > .black-box ul li a:hover {
  color: #4ca9b4;
}
.album-pic li span a:hover {
  color: #4ca9b4;
}
.album-laptop {
  display: none;
}
.album-tablet {
  display: none;
}
@media (max-width: 1220px) {
  /* LAPTOP */
  /* HEADER */
  .logo {
    width: 40%;
    order: 1;
  }
  .icons {
    width: 40%;
    order: 2;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: flex;
    width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    order: 3;
    position: relative;
  }
  .hamburger2 {
    width: 100vw;
    height: 500px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s 1s;
  }
  .hamburger2 li a {
    color: black;
  }
  .hamburger2 li:first-child a,
  .hamburger2 li:nth-child(4) a {
    color: #4ca9b4;
  }
  .hamburger li:hover .hamburger2 {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .main h1 {
    font-size: 108px;
    text-align: center;
  }
  .main h2 {
    font-size: 28px;
  }
  .button span a {
    font-size: 14px;
  }
  /*  SECOND WELCOME  */
  .second-welcome {
    height: 1200px;
    display: flex;
    flex-direction: column;
  }
  .cover {
    width: 100%;
    height: 50%;
    margin-top: 10px;
  }
  .right {
    width: 100%;
    height: 50%;
  }
  /* POSTER */
  .poster {
    height: 400px;
    background: url(picture/quote_bg_studio1.jpg) no-repeat 2% 40%;
  }
  .inner-poster {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
  }
  .box1 {
    width: 95%;
    height: 211px;
    padding: 48px;
  }
  .box1 h3 {
    font-size: 35px;
  }
  .box2 {
    width: 45%;
    height: 211px;
    padding: 80px 30px;
  }
  .box2 a {
    padding: 20px 35px;
    font-size: 18px;
  }
  /* TALENT PICTURE */
  .talent-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  .items {
    width: 50%;
  }
  .items img {
    width: 301px;
    height: 301px;
    margin-bottom: 20px;
  }
  /*BLUE SECTION*/
  .blue-section {
    width: 100%;
    height: 1000px;
    background-color: #4ca9b4;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  .photo {
    width: 100%;
    height: 550px;
    background: url(picture/girl_covered1.jpg) no-repeat center 5%;
    background-size: cover;
  }
  /* COLLECTION--PICTURE--RESPANSIVE--LAPTOP */
  .album {
    display: none;
  }
  .album-laptop {
    width: 100%;
    display: flex;
  }
  .album-pic-laptop {
    width: 50%;
  }
  .album-pic-laptop li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    overflow: hidden;
    position: relative;
  }
  .album-pic-laptop li img {
    filter: brightness(80%);
    transition: 0.5s;
    z-index: 1;
  }
  .album-pic-laptop li span {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(3%, -350%);
    z-index: 1;
  }
  .album-pic-laptop li span a {
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
  }
  li > .black-box2 {
    width: 100%;
    height: 60px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #121213;
    transform: translate(0, -100%);
  }
  li > .black-box2 ul {
    display: flex;
    padding: 50px 0;
  }
  li > .black-box2 ul li a {
    font-size: 13px;
    color: white;
    padding-top: 20px;
  }
  .album-pic-laptop li:hover img {
    transform: translate(0, -15%);
  }
  .album-pic-laptop li:hover .big2 {
    transform: translate(0, -7%);
    transition: 0.5s;
  }
  li > .black-box2 ul li a:hover {
    color: #4ca9b4;
  }
  .album-pic-laptop li span a:hover {
    color: #4ca9b4;
  }
}
@media (max-width: 628px) {
  /* TABLET */
  /* HEADER*/
  .logo {
    width: 80%;
    order: 1;
  }
  .icons {
    width: 40%;
    order: 2;
    display: none;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: flex;
    width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
    order: 3;
    position: relative;
  }
  .hamburger2 {
    width: 100vw;
    height: 500px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s 1s;
  }
  .hamburger2 li a {
    color: black;
  }
  .hamburger2 li:first-child a,
  .hamburger2 li:nth-child(4) a {
    color: #4ca9b4;
  }
  .hamburger li:hover .hamburger2 {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  /* HERO tablet */
  .main h1 {
    font-size: 108px;
    text-align: center;
  }
  .main h2 {
    font-size: 28px;
  }
  .button span a {
    font-size: 14px;
  }
  /*  SECOND WELCOME  */
  .second-welcome {
    height: 650px;
    display: flex;
    flex-direction: column;
  }
  .cover {
    width: 100%;
    height: 50%;
  }
  .cover p {
    margin-bottom: 10px;
  }
  .right {
    width: 100%;
    height: 50%;
    margin-top: 40px;
  }
  /* POSTER */
  .poster {
    height: 470px;
  }
  .inner-poster {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
  }
  .inner-poster .box1 {
    width: 100%;
    padding: 25px;
    height: 190px;
  }
  .box1 h3 {
    font-size: 30px;
  }
  .box2 {
    width: 100%;
    height: 110px;
    text-align: center;
    padding: 45px 20px;
  }
  .box2 a {
    color: white;
    border: 1px solid white;
    padding: 30px 20px;
    text-align: center;
    font-size: 16px;
  }
  /* COLLECTION--PICTURE--RESPANSIVE--TABLET */
  .album {
    display: none;
  }
  .album-laptop {
    display: none;
  }
  .album-tablet {
    width: 100%;
    display: flex;
  }
  .album-pic-tablet {
    width: 100%;
  }
  .album-pic-tablet li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    overflow: hidden;
    position: relative;
  }
  .album-pic-tablet li img {
    filter: brightness(80%);
    transition: 0.5s;
    z-index: 1;
  }
  .album-pic-tablet li span {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(3%, -412%);
    z-index: 1;
  }
  .album-pic-tablet li span a {
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
  }
  li > .black-box3 {
    width: 100%;
    height: 60px;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #121213;
    transform: translate(0, -100%);
  }
  li > .black-box3 ul {
    display: flex;
    padding: 50px 0;
  }
  li > .black-box3 ul li a {
    font-size: 13px;
    color: white;
    padding-top: 20px;
  }
  .album-pic-tablet li:hover img {
    transform: translate(0, -15%);
  }
  .album-pic-tablet li:hover .big3 {
    transform: translate(0, -7%);
    transition: 0.5s;
  }
  li > .black-box3 ul li a:hover {
    color: #4ca9b4;
  }
  .album-pic-tablet li span a:hover {
    color: #4ca9b4;
  }
  /* TALENT PICTURE */
  .items {
    width: 100%;
  }
  /*BLUE SECTION*/
  .blue-section {
    width: 100%;
    height: 780px;
  }
  .cover {
    padding-top: 50px;
  }
  .cover h3 {
    font-size: 35px;
  }
  .cover p {
    margin-bottom: 20px;
  }
  .photo {
    width: 100%;
    height: 290px;
    background: url(picture/girl_covered1.jpg) no-repeat center 1%;
    background-size: cover;
  }
  /* collection-title  */
  .collection-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 399px) {
  /* MOBILE */
  /* HERO */
  .main h1 {
    font-size: 75px;
    text-align: center;
  }
  .main h2 {
    font-size: 16px;
  }
  .button span a {
    font-size: 12px;
  }
  /* POSTER */
  .poster {
    height: 450px;
  }
  .inner-poster {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .box1 {
    width: 95%;
    height: 50px;
    color: white;
    padding: 15px;
    border: 8px solid white;
  }
  .box1 h3 {
    width: 100%;
    font-size: 24px;
    padding: 15px;
  }
  .box2 {
    width: 100%;
    height: 80px;
    padding: 80px 30px;
  }
}
